body { 
    text-align: center; 
    color: #696969; 
    background-color: #D2B48C; 
} 

h1{
    font-size:24pt;
    font-weight:bold;
}

h2{
    font-size:14pt;
}

table{
    width:auto;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
}

a { text-decoration:none; font-weight: bold; }
a:link, a:visited { color:#696969; }

#Notes{
    color:red;
}

#rfv{
    color:red;
    text-align:left;
    padding:10px;
}

#tb_left{
    color:#696969;
    background-color:#ffff99;
    text-align:right;
    padding:10px;
    border:solid 1px #ffffff;
}

#tb_right{
    color:#ffffff;
    background-color:#f08080;
    text-align:left;
    padding:10px;
    border:solid 1px #ffffff;
}

#tb_bottom{
    color:#ffffff;
    background-color:#696969;
    text-align:center;
    padding:10px;
    border:solid 1px #ffffff;
}

#footer{
   position:absolute;
   bottom:217px;
   width:100%;
}

#Main{
    margin-left: auto;
    margin-right: auto;
    width:500px;
    text-align:left;
}

.cssgridview{
    width:auto;
    margin-left: auto;
    margin-right: auto;
    border:solid 1px #ffffff;
    border-collapse:collapse;
    text-align:center;
    color:#ffffff;
}

.cssgridview td{
    padding:10px;
    border:solid 1px #ffffff;
    color:#ffffff;
    background-color:#f08080;
}

.cssgridview th{
    padding:10px;
    color:#696969;
    Background:#ffff99;
    border-left:solid 1px #ffffff;
    font-size:0.9em;
}
