body {
    text-align: center;
    color: #696969;
    background-color: #D2B48C;
}

h1{
    font-size:24pt;
    font-weight:bold;
}

h2{
    font-size:14pt;
}

#footer{
   position:absolute;
   bottom:0;
   width:100%;
}

#Nav{
    font-weight:bold;
    font-size:16pt;
}

.cssgridview{
    width:auto;
    margin-left: auto;
    margin-right: auto;
    border:solid 1px #ffffff;
    border-collapse:collapse;
    text-align:center;
    color:#ffffff;
}

.cssgridview td{
    padding:10px;
    border:solid 1px #ffffff;
    color:#ffffff;
    background-color:#f08080;
}

.cssgridview th{
    padding:10px;
    color:#696969;
    Background:#ffff99;
    border-left:solid 1px #ffffff;
    font-size:0.9em;
}
